streamlit
pandas
numpy
altair
xgboost
lightgbm
catboost
joblib
pyarrow
plotly

# TensorFlow ONLY (do NOT pin 'keras' separately or you get the InputLayer/batch_shape error)
tensorflow-cpu==2.15.0.post1
tensorflow-probability==0.23.0
h5py
